
{% extends "NombreApp/base.html" %}

{% load static %}

{% block content %}


   <!-- Heading -->

    
    


      <div class="container">
        <div class="row">
          <div class="col-sm">
             <img class="intro-img" src= "{% static '/NombreApp/img/principal.png' %}" alt="">
          </div>
          <div class="col-sm">
             One of three columns
          </div>
          <div class="col-sm">
              One of three columns
          </div>
        </div>
      </div>




      
  



  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Proyectos</span>
               
              </h2>
              <p class="mb-0"></p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}