
{% extends "NombreApp/base.html" %}

{% load static %}

{% block content %}


   <!-- Heading -->

    
    


      <div class="container">
        <div class="row">
          <div class="col-sm">
             <img class="intro-img" src= "{% static '/NombreApp/img/principal1.png' %}" alt="">
          </div>
        <div class="col-sm">
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>PYTHON</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>NOSQL | SQL</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>AZURE</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>POWER BI</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>SPARK</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>DATABRICKS</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>

        
               
          </div>
          <div class="col-sm">
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>DJANGO</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>CSS | HTML</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>BOOTSTRAP</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-sm-3">
                  <img class="intro-img" src= "{% static '/NombreApp/img/icon-py4.png' %}"   alt=""> 
              </div>
              <div class="col-sm-9">
                  <p>GIT | GITHUB</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      
  



  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Proyectos</span>
               
              </h2>
              <p class="mb-0"></p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}