body {
 
    background: rgba(0, 0, 0, 0.923); 
   
  }



.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}



.principal {
  width: 75%;
}
.sidebar {
  width: 25%;
}


.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p, div {
 color: white ; 
}

div > {
  color: white;
}

.collapse navbar-collapse {
  font-size: 1.1rem;
}

.bg-success {
  background-color: #9fabad !important;
}