{% load static %}


<html>

<head>

    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href= "{% static 'PorfolioApp/vendor/bootstrap/css/bootstrap.min.css'  %}" rel = "stylesheet"> 
	<script src="https://kit.fontawesome.com/9cccc0c454.js" crossorigin="anonymous"></script>
     <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <!-- <link href= "{% static '/NombreApp/css/gestion.css' %}"  rel="stylesheet">  -->
    <link href= "{% static '/PorfolioApp/css/codepen.css' %}"  rel="stylesheet"> 


</head>

<body>

<!-- Vertical navbar -->



<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
        
          <ul id="menu">
		  

            <a href=" "><li class="icon fa-solid fa-house" id="uno"></li></a>     <!--icon fa fa-bolt  -->
            <a href="#t2"><li class="icon fa-solid fa-folder-open" id="dos"></li></a>
            <a href="#t3"><li class="icon fa-solid fa-book" id="tres"></li></a>
            <a href="#t4"><li class="icon fa fa-plus-circle" id="cuatro"></li></a>
          
          </ul>
          <div class="page" id="p1">
		  		  <div class="container inicio">
    					<div class="content">
      						<h1 class="title">carmen.tech
       							 <div class="aurora">
        						    <div class="aurora__item"></div>
         						    <div class="aurora__item"></div>
        						    <div class="aurora__item"></div>
        						    <div class="aurora__item"></div>
        						</div>
      						</h1>
      						  <p class="subtitle">Data Scientist - Web Developer</p>
        
    					</div>

  					</div> 

          </div>
          <div class="page" id="p2">
            <section class="icon fa fa-keyboard-o">
			<span class="title">Type</span>
			</section>
          </div>  
          <div class="page" id="p3">
			  <div class="container">
		  	<h2 class="title">Skills</h2>
			  <div/>
                  <div class="container">
        			<div class="row"> 
						<div class="col-sm"> 
            				<div class="row"> 	 
             				 <div class="col-sm-9"><p>DATA SCIENTIST

              </div>
            </div>
            <div class="row"> 
            
              <div class="col-sm-9">PYTHON
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
          
              <div class="col-sm-9">NOSQL | SQL
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              
              <div class="col-sm-9">AZURE
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
             
              <div class="col-sm-9">POWER BI
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
             
              <div class="col-sm-9">SPARK
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
             
              <div class="col-sm-9">DATABRICKS
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>

        
               
          </div>
          <div class="col-sm">
          <div class="row"> 
            
              <div class="col-sm-9"><p>WEB DEVELOPER
              </div>
            </div>

            <div class="row"> 
           
              <div class="col-sm-9">DJANGO
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
        
              <div class="col-sm-9">CSS | HTML
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
           
              <div class="col-sm-9">BOOTSTRAP
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
            <div class="row"> 
            
              <div class="col-sm-9">GIT | GITHUB
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          </div>
          <div class="page" id="p4">
            <section class="icon fa fa-dribbble">
              <span class="title">Dribbble</span>
              <p class="hint">
                <a href="https://dribbble.com/hrtzt" target="_blank">Im ready to play, <span class="hint line-trough">invite me </span> find me</a>
              </p>
              <p class="hint">Already invited by <a href="http://www.dribbble.com/mrpeters" target="_blank">Stan Peters</a></p>
            </section>
        
          
        </div>
      </div>
    </div>
  </div>
</div>



</body>


</html>